* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #ffffff, #fcfaff, #f9f4ff, #f8eeff, #f8e8fe, #f4e8ff, #f0e8ff, #ece8ff, #e6edff, #e3f1ff, #e5f4fc, #e9f6f9);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
    color: inherit;
}

div~img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: relative;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.header__logo {
    display: flex;
    border-radius: 10px;
    padding: 13px 0;
}

.header__logo-title {
    margin-left: 9px;
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.header__nav {
    margin-left: -650px;
}


#burger {
    opacity: 0;
}

#burger:checked+.menu__btn span {
    transform: rotate(45deg);
}

#burger:checked+.menu__btn span::before {
    top: 0;
    transform: rotate(0);
}

#burger:checked+.menu__btn span::after {
    top: 0;
    transform: rotate(90deg);
}

#burger:checked+.menu__btn+.header__nav {
    visibility: visible;
}

.menu__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span {
    position: relative;
}

.menu__btn>span::before {
    position: absolute;
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    position: absolute;
    content: '';
    top: 8px;
}

.header__link {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    color: black;
    text-transform: capitalize;
    margin-right: 30px;
    position: relative;
}

.header__link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, rgb(255, 121, 205) 0%, rgb(170, 46, 230) 100%);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    transition: .4s;
}

.header__link:hover::before {
    color: #23049D;
    width: 50px;
}

.header__btn {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    color: #23049D;
    text-transform: capitalize;
    background-color: #FFDF6B;
    border-radius: 10px;
    padding: 13px 30px;
}

.header__btn:hover {
    background-color: #23049D;
    color: #FFDF6B;
}

/* main */

.main__wrapper {
    padding-top: 122px;
}

.main__background {
    border-radius: 50px;
    background-color: #23049D;
    transition: 0.8s;
    width: 100%;
    height: 546px;
    width: 100%;
    position: relative;
}

.main__content {
    padding: 112px 0 122px 58px;
    z-index: 7;
}

.main__title {
    max-width: 490px;
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: 700;
    font-size: 65px;
    line-height: 100%;
    transition: 2s;
}

.main__text {
    max-width: 345px;
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin: 20px 0 30px;
}

.main__img-person {
    max-width: 575px;
    position: absolute;
    bottom: -5px;
    right: 24px;
}

.main__img-person img {
    z-index: 2;
}

.main__img-figures {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.main__img-figures img {
    z-index: 1;
}

.main__btn {
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    padding: 13px 30px;
    background-color: #FF79CD;
    border-radius: 10px;
    transition: 0.6s;
    z-index: 6;
    position: relative;
}

.main__btn::before {
    content: "Get Started";
    position: absolute;
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    padding: 13px 30px;
    background-color: #FF79CD;
    border-radius: 10px;
    transition: 0.6s;
    left: 0;
    top: 0;
    visibility: hidden;
}

.main__btn:hover:before {
    visibility: visible;
    background: rgb(255, 121, 205);
    background: linear-gradient(90deg, rgb(255, 121, 205) 0%, rgb(170, 46, 230) 100%);
}

.main__btn:active {
    transform: translate(0em, 0.2em);
}

/* for-business */

.for-business__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}

.for-business__icons {
    display: flex;
    max-width: 510px;
}

.for-business__icons-left {
    padding-top: 35px;
    margin-right: 30px;
}

.for-business__icon {
    max-width: 240px;
    height: 240px;
    border-radius: 24px;
    padding: 46px 51px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
    transition: 0.6s;
}

.for-business__icon:hover {
    transform: scale(1.2);
}

.for-business__icon-marg {
    margin-bottom: 35px;
}

.for-business__subtitle {
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 700;
    font-size: 24px;
    line-height: 111.4%;
    text-align: center;
    margin-top: 20px;
}

.for-business__content {
    margin-top: 56px;
}

.for-business__title {
    max-width: 360px;
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
}

.for-busines__text {
    max-width: 398px;
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    margin: 25px 0 49px;
}

.for-business__point {
    display: flex;
}

.for-business__point img {
    margin-bottom: 25px;
}

.for-business__point p {
    margin-left: 14px;
    font-family: 'Quicksand';
    color: black;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
}

.for-business__btn {
    margin-top: 51px;
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    padding: 13px 30px;
    background: #23049D;
    border-radius: 10px;
    transition: 0.6s;
}

/* influencer */

.influencer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 166px;
}

.influencer__content {
    max-width: 450px;
}

.influencer__subtitle {
    font-family: 'Norican';
    color: rgb(170, 46, 230);
    font-weight: 400;
    font-size: 34px;
    line-height: 111.4%;
}

.influencer__title {
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    margin-top: 13px;
}

.influencer__text {
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
}

.influencer__categories {
    margin-top: 51px;
    display: flex;
    flex-wrap: wrap;
}

.influencer__categories-btn {
    padding: 16px 0;
    width: 44.22%;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 15px;
    line-height: 111.4%;
    margin: 0 22px 20px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
    transition: 0.6s;
}

.influencer__categories-btn:hover {
    transform: scale(1.1);
}

.influencer__categories-btn-blue {
    color: #5961DE;
}

.influencer__categories-btn-orange {
    color: #FF783E;
}

.influencer__categories-btn-pink {
    color: #EE5188;
}

.influencer__categories-btn-green {
    color: #4BBF83;
}

.categories__btn {
    margin-top: 30px;
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    padding: 13px 30px;
    background-color: #23049D;
    border-radius: 10px;
    transition: 0.6s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
}

.sec__btn:hover {
    background: rgb(35, 4, 157);
    background: linear-gradient(90deg, rgb(35, 4, 157) 0%, rgb(170, 46, 230) 100%);
}

.sec__btn:active {
    transform: translate(0em, 0.2em);
}

.influencer__images {
    position: relative;
    width: 506px;
    height: 506px;
    background-color: #FFDF6B;
    border-radius: 50%;
    margin-bottom: 149px;
}

.influencer__bigpic {
    max-width: 454px;
    position: absolute;
    top: 17px;
    left: 27px;
}

.influencer__card {
    position: absolute;
    bottom: 34px;
    left: 45px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 223, 235, 1) 100%);
    border-radius: 27.519px;
    padding: 34px 95px 34px 54px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5px);
}

.influencer__info {
    margin-left: 34px;
}

.influencer__name {
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 700;
    font-size: 18px;
    line-height: 111.4%;
}

.influencer__followers {
    font-family: 'Quicksand';
    color: #000000;
    font-weight: 700;
    font-size: 25.4022px;
    line-height: 111.4%;
    position: relative;
}

.influencer__followers img {
    position: absolute;
    right: -40px;
    bottom: 0;
}

/* feedback */

.feedback__title {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 36px;
    line-height: 111.4%;
    text-align: center;
    letter-spacing: 0.03em;
    font-feature-settings: 'liga' off;
    color: #23049D;
}

.feedback__options-left,
.feedback__options-rigth {
    position: absolute;
}

.feedback__options-left {
    width: 257px;
    background-color: #ffffff;
    box-shadow: 10px 19px 74px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transform: rotate(-15.4deg);
    z-index: 4;
    top: 80px;
    left: -50px;
    display: flex;
    padding: 20px;
}

.feedback__photo {
    width: 10%;
    margin-right: 15px;
}

.feedback__ad {
    font-family: 'Mulish';
    font-size: 12px;
    line-height: 111.4%;
    color: rgba(0, 0, 0, 0.8);
}

.feedback__ad span {
    color: #0094FF;
}

.feedback__options-rigth {
    display: flex;
    transform: rotate(17.83deg);
    z-index: 4;
    top: 80px;
    right: -50px;
}

.feedback__options-basic {
    width: 85px;
    background: #FFFFFF;
    box-shadow: 10px 19px 74px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 14px;
    line-height: 111.4%;
    color: #23049D;
    padding: 27px 25px;
    z-index: 3;
}

.feedback__options-standart {
    width: 90px;
    background: #f1f4f5;
    box-shadow: 10px 19px 74px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 14px;
    line-height: 111.4%;
    color: #AA2EE6;
    padding: 27px 5px 27px 20px;
    margin-left: -10px;
    z-index: 2;
}

.feedback__options-premium {
    width: 90px;
    background: #FF79CD;
    ;
    box-shadow: 10px 19px 74px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 14px;
    line-height: 111.4%;
    color: #ffffff;
    padding: 27px 5px 27px 20px;
    margin-left: -10px;
    z-index: 1;
}

.feedback__tweetter,
.feedback__youtube,
.feedback__snapchat {
    position: absolute;
    z-index: 4;
}

.feedback__tweetter {
    left: 42%;
    top: 130px;
    z-index: 6;
}

.feedback__snapchat {
    left: -20px;
    bottom: 290px;
}

.feedback__youtube {
    left: 40px;
    bottom: 180px;
}

.feedback__wrapper {
    padding: 73px 0 88px;
    position: relative;
    max-width: 690px;
    display: grid;
    grid-template-columns: 19.56% 37.24% 3.47% 25.21% 14.49%;
    grid-template-rows: 92px 211px 117px;
    margin: 0 auto;
}

.feedback__background {
    width: 100%;
    height: 302.9px;
    background: #F4F7FF;
    border-radius: 29px;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    z-index: 3;
    position: relative;
}

.feedback__background-big {
    position: absolute;
    left: 0;
    bottom: 0;
}

.feedback__background-small {
    position: absolute;
    top: 0;
    right: 0;
}

.feedback__left {
    max-width: 257px;
    height: 326.51px;
    background: #FFFFFF;
    box-shadow: 10px 19px 74px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transform: rotate(-0.02deg);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    z-index: 5;
    padding: 17px;
}

.feedback__leve {
    max-width: 74px;
}

.feedback__muslima {
    margin: 23px auto 0;
}

.feedback__muslima p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 111.4%;
    color: #23049D;
    text-align: center;
}

.feedback__image {
    width: 62px;
    margin: 0 auto 10px;
}

.feedback__followers {
    width: 106px;
    margin: 0 auto 13px;
}

.feedback__video {
    max-width: 225px;
    position: relative;
}

.feedback__video::before {
    content: url(/images/Feedback__play.png);
    position: absolute;
    left: 45%;
    top: 40%;
}

.feedback__rigth {
    width: 174px;
    height: 325px;
    border-radius: 11.3664px;
    transform: rotate(-0.02deg);
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    z-index: 5;
    background-image: url(/images/feedback_main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback__rigth img {
    padding: 10px;
}


/* statistics */
.statistics__wrapper {
    padding: 0 0 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 190px;
    text-align: center;
}

.statistics__numbers {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 80px;
    line-height: 111.4%;
    color: #AA2EE6;
}

.statistics__numbers:hover {
    transform: scale(1.1);
}

.statistics__info {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18.4328px;
    line-height: 111.4%;
    color: #000000;
}

.statistics__numbers-blue {
    color: #23049D;
}

/* review */
.review__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.review__cards {
    height: 457px;
}

.review__cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__inner {
    display: flex;
    padding: auto 0;

}

.review__title {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 36px;
    line-height: 111.4%;
    letter-spacing: 0.03em;
    font-feature-settings: 'liga' off;
    color: #23049D;
    margin-bottom: 60px;
}

.review__subtitle {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 111.4%;
    color: #000000;
}

.review__icon {
    margin-bottom: 52px;
}

.review__desc {
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
}

.review__text {
    margin-left: 40px;
}

.review__icon:hover {
    transform: scale(1.2);
}

/* contr */
.contribution__wrapper {
    padding: 160px 0 91px;
    display: flex;
    justify-content: space-between;
}

.contribution__case {
    max-width: 451px;
}

.contribution__desc {
    max-width: 501px;
}

.contribution__title {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 36px;
    line-height: 111.4%;
    letter-spacing: 0.03em;
    font-feature-settings: 'liga' off;
    color: #23049D;
    margin-bottom: 32px;
}

.contribution__info {
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 49px;
}

.contibution__btn {
    margin-top: 30px;
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    padding: 13px 30px;
    background-color: #23049D;
    border-radius: 10px;
    transition: 0.6s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
}

.contibution__btn:hover {
    background: rgb(35, 4, 157);
    background: linear-gradient(90deg, rgb(35, 4, 157) 0%, rgb(170, 46, 230) 100%);
}

.contibution__btn:active {
    transform: translate(0em, 0.2em);
}

.contribution__desc {
    padding: 69px 46px 69px;
    background: #AA2EE6;
    mix-blend-mode: normal;
    box-shadow: 0px 4.24925px 11.8979px rgba(0, 0, 0, 0.12);
    border-radius: 8.4985px;
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 139.9%;
    color: rgba(255, 255, 255, 0.8);
}

.contibution__author {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 20px;
    line-height: 111.4%;
    color: #FFFFFF;
    margin-top: 30px;
}

/* clients */
.clients__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}

.clients__img {
    max-width: 160px;
    align-items: center;
    margin: auto;
}

.clients__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* library */

.library__title {
    max-width: 742px;
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 700;
    font-size: 36px;
    line-height: 111.4%;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding-top: 160px;
}

.library__btn {
    display: block;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    color: #23049D;
    text-transform: capitalize;
    background-color: #FFDF6B;
    border-radius: 10px;
    padding: 13px 30px;
    margin: 37px auto;
}

.library__btn:hover {
    background-color: #23049D;
    color: #FFDF6B;
}

.library__wrapper {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;

}

.library__card {
    width: 23%;
    padding: 33px 0 26px;
    background-color: #fff;
    box-shadow: 4px 5px 24px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
}

.library__card:hover {
    transform: scale(1.2);
}

.library__img {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #AA2EE6;
}

.library__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.library__name {
    padding-top: 19px;
    font-family: 'Quicksand';
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 111.4%;
}

.library__location {
    padding-top: 6px;
    font-family: 'Quicksand';
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    font-size: 15px;
    line-height: 111.4%;
    letter-spacing: 0.03em;
}

.library__rating {
    padding-top: 15px;
}

.library__socials {
    display: flex;
    margin-top: 24px;
}

.library__socials-fb {
    background-color: rgb(74, 122, 255, 0.07);
    border-radius: 5px;
    padding: 9px 13px;
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.library__socials-ins {
    background-color: rgb(74, 122, 255, 0.07);
    border-radius: 5px;
    padding: 9px 13px;
    display: flex;
    align-items: center;
}

.library__socials-number {
    padding-left: 10px;
    font-family: 'Quicksand';
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    line-height: 111.4%;
    letter-spacing: 0.03em;
}

/* get-started */

.get-started__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    background-color: #23049D;
    border-radius: 10px;
    padding: 65px 62px 65px 55px;
}

.get-started__content {
    max-width: 455px;
}

.get-starte__title {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 36px;
    line-height: 111.4%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.get-started__text {
    margin-top: 20px;
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 111.4%;
    color: rgba(255, 255, 255, 0.8);
}

.get-started__btn {
    font-family: 'Quicksand';
    color: #23049D;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.4%;
    letter-spacing: 0.005em;
    padding: 13px 30px;
    background-color: #FFDF6B;
    border-radius: 10px;
    margin-top: 50px;
    height: 46px;
    border: 2px solid #FFDF6B;
}

.get-started__btn:hover {
    background-color: #23049D;
    color: #FFDF6B;
}

.main__btn:active {
    transform: translate(0em, 0.2em);
}

/* footer */
.footer__wrapper {
    padding: 108px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 85px;
}

.footer__link:not(:last-child) {
    margin-bottom: 10px;
}

.footer__subtitle {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 18px;
    line-height: 126%;
    color: #000000;
    margin-bottom: 10px;
}

.footer__desc {
    font-family: 'Mulish';
    font-size: 15px;
    line-height: 126%;
    color: rgba(0, 0, 0, 0.8);
    margin: 15px;
}

.footer__link {
    font-family: 'Mulish';
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}